<div class="container">
  <div class="appTitle"><h3 ng-bind="$state.current.data.pageTitle"></h3></div> <!--Dynamically Changes title based on the state-->
  <!-- This is the sidemenu -->
  <div id="overlay" style="float:left;">
    <ul style="list-style-type:none;border:1px solid;padding:5px 5px 5px 5px;">
      <li style="margin-bottom:5%;"><center><button style="margin-bottom:3%;" ng-click="goto('home')">Home</button></center></li>
      <li style="margin-bottom:5%;"><center><button style="margin-bottom:3%;" ng-click="goto('sendData')">Send Data</button></center></li>
      <li style="margin-bottom:5%;"><center><button style="margin-bottom:3%;" ng-click="goto('getData')">Get Data</button></center></li>
    </ul>
  </div>
  <div id="otherPages">
    <div ui-view="content"></div>
  </div>
</div>
